PORT=4000
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d
SUPABASE_URL=postgresql://postgres:Kumar@123#!23@db.wbmsldildqqstxnbahxz.supabase.co:5432/postgres
SUPABASE_KEY=your-supabase-service-role-key
DATABASE_SCHEMA=public
